@model LMS.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var forCustomerAction = nameof(LMS.Controllers.RentalsController.ForCustomer);
    var rentalsController = nameof(LMS.Models.Rental) + "s";
    var customersController = nameof(LMS.Models.Customer) + "s";
}
<h2>@Model.Name</h2>
<h4>Customer Details</h4>
<table class="table table-responsive table-bordered">
    <tr class="d-flex">
        <th class="col-sm-2">Name</th>
        <td class="col-sm-10">@Model.Name</td>
    </tr>
    <tr>
        <th>Birth Date</th>
        <td>@Model.Birthdate.Value.ToString("dd-MM-yyyy")</td>
    </tr>
    <tr>
        <th>Card Id</th>
        <td>@Model.CardId</td>
    </tr>
    <tr>
        <th>Rented Books</th>
        @if (Model.RentalsCount > 0)
        {
            <td>@Html.ActionLink(@Model.RentalsCount + " Books", forCustomerAction, rentalsController)</td>
        }
        else
        {
            <td>0 Books</td>
        }
    </tr>
</table>
<h4>Actions</h4>
<hr />
<div class="row" style="margin-left:0">
    @if (User.IsInRole(LMS.Models.Role.CanEditCustomers))
    {
        @Html.ActionLink("Edit", "Edit", customersController, new { id = Model.Id }, new { @class = "btn btn-primary" })
    }
    @if (User.IsInRole(LMS.Models.Role.CanAddRentals))
    {
        @Html.RouteLink("Rent", new { controller = rentalsController, action = "New", customerId = Model.Id }, new { @class = "btn btn-primary" })
    }
    @if (User.IsInRole(LMS.Models.Role.CanDeleteCustomers))
    {
        @Html.ActionLink("Delete", "Delete", customersController, new { id = Model.Id }, new { @class = "btn btn-danger" })
    }
</div>

