@model LMS.Models.Customer
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    // if i rename the controller or the action i don't have to do it here too
    var action = nameof(LMS.Controllers.CustomersController.Update);
    var controller = nameof(LMS.Models.Customer) + "s";
}
<h2>Edit Customer</h2>

@using (Html.BeginForm(action, controller))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CardId)
        @Html.TextBoxFor(m => m.CardId, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.Id)
}