@model LMS.Models.Book
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<h4>Book Details</h4>
<table class="table table-responsive table-bordered">
    <tr class="d-flex">
        <th class="col-sm-2">Title</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Genres</th>
        <td>@Model.Class.Name</td>
    </tr>
    <tr>
        <th>Release Year</th>
        <td>@Model.ReleaseYear</td>
    </tr>
    <tr>
        <th>Date Added</th>
        <td>@Model.DateAdded.Value.ToString("dd-MM-yyyy | hh:mm tt")</td>
    </tr>
    <tr>
        <th>Available</th>
        <td>
            @if (Model.NumberAvailable == 0)
            {
                <span class="text-danger">Out of Stock!</span>
            }
            else
            {
                @Model.NumberAvailable
            }
        </td>
    </tr>
    <tr>
        <th>Library Stock</th>
        <td>
            @if (Model.NumberInStock == 0)
            {
                <span class="text-danger">No Stock!</span>
            }
            else
            {
                if (Model.NumberInStock > 1)
                {
                    <a href="/bookcopies/forbook/@Model.Id">@Model.NumberInStock Copies</a>
                }
                else
                {
                    <a href="/bookcopies/forbook/@Model.Id">1 Copy</a>
                }
            }
        </td>
    </tr>
    <tr>
        <th>Rented</th>
        <td>
            @if (Model.RentalsCount > 0)
            {
                if (Model.RentalsCount > 1)
                {
                    <a href="/rentals/forbook/@Model.Id">@Model.RentalsCount Copies</a>
                }
                else {
                    <a href="/rentals/forbook/@Model.Id">1 Copy</a>
                }
            }
            else
            {
                <text>0</text>
            }
        </td>
    </tr>
</table>
<h4>Actions</h4>
<hr />
<div class="row" style="margin-left:0">
    @if (Model.NumberAvailable > 0 && User.IsInRole(LMS.Models.Role.CanAddRentals) && Model.NumberAvailable > 0)
    {
        @Html.RouteLink("Rent", new { controller = "bookcopies", action = "choose", bookId = Model.Id }, new { @class = "btn btn-primary" })
    }
    @if (User.IsInRole(LMS.Models.Role.CanAddBookCopies))
    {
        @Html.ActionLink("Add Copy", "New", "BookCopies", new { id = Model.Id }, new { @class = "btn btn-" + (Model.NumberAvailable > 0 ? "primary" : "success") })
    }
    @if (User.IsInRole(LMS.Models.Role.CanEditBooks))
    {
        @Html.ActionLink("Edit", "Edit", "Books", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }
    @if (User.IsInRole(LMS.Models.Role.CanDeleteBooks))
    {
        @Html.ActionLink("Delete", "Delete", "Books", new { id = Model.Id }, new { @class = "btn btn-danger" })
    }
</div>